body {
    margin: 0px;
}

h1 {
    font-size: 40px;
    color: #2c2200;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    padding: 1%;
    background-color: #f0ffe6;
    border-bottom: 3px #204d02 solid;
}

h3 {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 5px #204d02 solid;
}

p, li {
    font-size: 20px;
    padding-left: 20px;
}    

table {
    padding-left: 20px;
}

tr {
    text-align: center;
}

footer {
    float:none;
    margin: 0;
    padding: 5px 0;
    background-color: #777676;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

footer a {
    font-size: 20px;
    color: #f0ffe6;
}

.title {
    padding: 20px;
    background-color: #ffd000;
}

.nav {
    padding: 10px 30px 10px 10px;
    text-align: right;
    background-color: #553300;
    color: #FFFFFF;
}

.nav a{
    padding: 0px 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.container {
    padding: 2%;
}

.name {
    clear: left;
}

.name_ja {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
}

.name_en {
    font-style: italic;
    margin-top: 0px;
    font-size: 20px;
}

#skill img {
    width: 60%;
}

.osakacorona {
    display: flex;
    justify-content: space-between;
}

.movie {
    margin-left: 20px;
}

.info {
    width: 100%;
}

/* レスポンシブ(スマホサイズ用CSS) */
@media screen and (max-width: 480px) { 
    h1 {
        text-align: center;
    }
    
    h2 {
        font-size: 20px;
    }

    h3 {
        margin-left: 0px;;
        font-size: 14px;
    }
    
    p, li {
        font-size: 14px;
        padding: 0px;
    }

    table {
        padding-left: 0px;
    }

    footer a {
        font-size: 14px;
    }

    .nav {
        text-align: center;
    }

    .name_ja {
        font-size: 20px;
    }
    
    .name_en {
        font-size: 15px;
    }

    #skill img {
        width: 40%;
    }

    #skill td {
        font-size: 14px;
    }

    .osakacorona {
        display: inline;
        justify-content: flex-start;
    }
    
    .movie {
        margin-left: 0px;
        text-align: center;
        width: 90%;
        height: 90%;
    }

    .info {
        font-size: 11px;
    }
}