body {
    margin: 0px;
    font-family: 'Helvetica Neue', 'Arial', 'Hiragino Sans', 'Yu Gothic', sans-serif;
}

h1 {
    font-size: 40px;
    color: #2c2200;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    padding: 1%;
    background-color: #f0ffe6;
    border-bottom: 3px #204d02 solid;
}

h3 {
    margin-left: 20px;
    margin-bottom: 0;
    padding-left: 10px;
    border-left: 5px #204d02 solid;
}

p {
    padding-left: 20px;
    font-size: 20px;
}

ul {
    margin-top: 5px;
    list-style: none;
}

li {
    padding-left: 10px;
    font-size: 20px;
    border-left: #204d02 2px solid;
    border-bottom: #204d02 2px solid;
    max-width: 500px;
}

table {
    padding-left: 20px;
}

tr {
    text-align: center;
    height: 10px;
}

footer {
    float: none;
    margin: 0px;
    padding: 5px 0;
    background-color: #777676;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

footer p {
    margin-top: 0;
}

footer img {
    width: 40px;
}

.title {
    padding: 10px 20px;
    background-color: #c2ff7d;
}

.title a {
    text-decoration: none;
    color: #2c2200;
}

.prof {
    font-size: 20px;
}

.t_left{
    padding-left: 10px;
    text-align: left;
}

.t_right{
    text-align: right;
    font-weight: bold;
}

.nav {
    padding: 10px 30px 10px 10px;
    text-align: right;
    background-color: #00550e;
    color: #FFFFFF;
}

.nav a{
    padding: 0px 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.container {
    padding: 2%;
}

#name {
    clear: left;
}

#exp {
    display: flex;
    justify-content: start;
}

#exp img {
    width: 20%;
    height: 20%;
}

.name_ja {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
}

.name_en {
    font-style: italic;
    margin-top: 0px;
    font-size: 20px;
}

#skill img {
    width: 60%;
    height: 60%;
}

.learn {
    text-decoration: underline;
    color: #8a8a8a;
}

.add {
    margin-top: 10px;
    font-size: 16px;
}

.work_content {
    border-bottom: 2px #aaaaaa solid;
}

.work_content h3 {
    margin-bottom: 0;
}

.work_content a {
    color: #000000;
}

.work_content img, video {
    margin-left: 30px;
    border: 1px #474747 solid;
    width: 30%;
}

.work_content p {
    font-size: 16px;
}

.tag-area {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.tag-area p {
    font-size: 14px;
}

.tag {
    margin: 10px 2px;
    padding: 5px 10px;
    display: inline;
    background-color: #133f00;
    border-radius: 7px;
    color: #FFFFFF;
}

.divide {
    display: flex;
    justify-content: start;
    margin: 10px;
}

.divide video, img {
    height: 100%;
}

.info {
    width: 70%;
}


/* レスポンシブ(タブレットサイズ用CSS) */
@media screen and (max-width: 960px) {
    h3 {
        margin-left: 0px;
    }

    ul {
        padding: 10px;
    }

    #exp {
        display: block;
    }
    
    #exp img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .add {
        padding: 0 20px;
    }

    .name_ja {
        margin-top: 10px;
    }

    .divide {
        display: block;
        justify-content: start;
    }

    .work_content img, video {
        display: block;
        margin: 0;
        width: 100%;
        object-fit: cover;
    }

    .work_content a {
        text-decoration: none;
    }

    .info {
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }

    footer a {
        text-decoration: none;
    }
}


/* レスポンシブ(スマホサイズ用CSS) */
@media screen and (max-width: 480px) { 
    h1 {
        text-align: center;
        margin: 10px 0;
    }
    
    h2 {
        font-size: 20px;
    }

    h3 {
        margin-left: 0px;
        font-size: 14px;
    }
    
    p {
        padding: 0;
    }

    p, li {
        font-size: 14px;
    }

    ul {
        padding: 10px 0;
    }

    table {
        padding-left: 0px;
    }

    footer a {
        font-size: 14px;
    }

    .nav {
        text-align: center;
    }

    .prof {
        font-size: 15px;
    }

    .name_ja {
        font-size: 20px;
    }
    
    .name_en {
        font-size: 15px;
    }

    .add {
        padding: 0 5px;
        font-size: 14px;
    }

    #skill img {
        width: 40%;
        height: 40%;
    }

    #skill td {
        font-size: 14px;
    }

    .tag-area {
        margin: 0;
    }

    .tag-area p {
        font-size: 10px;
    }

    .tag {
        margin: 10px 0;
    }
}